@model IEnumerable<Assignment>
@{
    ViewData["Title"] = "Assignments page";
}


<section class="space-sm flush-with-above">
    <ul class="row feature-list feature-list-sm">
        @foreach (var assignment in Model)
        {
             <li class="col-12 col-md-6 col-lg-4">
              <div class="card-body">
                <h4 class="card-title">@assignment.Name</h4>
                 <p class="card-text">@assignment.Description</p>
                 <p class="card-text">@assignment.Status, @assignment.Priority</p>
              </div>
                    <div class="btn-group mb-2">
                      <a type="btn btn-succes" asp-controller="Assignment" asp-action="Detail" asp-route-id="@assignment.AssignmentId" class="btn btn-success btn-lg">View</a>
                  </div>
              </li>
        }
    </ul>
</section>
